doctype html
html
  head
    title= title
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-197045426-1" async) 

    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('set', {'experiments': [{'id': "#{optimize_expId}", 'variant': "#{optimize_expVar}"}]});

        gtag('config', 'UA-197045426-1');
        gtag('event', 'test_optmize', {
          'event_category' : 'optmize_server_side_be',
          'event_label' : Date.now()
        });

  body
    block content
    h1= title
    h3= expTitle